* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: 200px;
}
.container {
  margin: 0 auto;
  max-width: 1128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
