.form-container {
  background-color: lightgrey;
  height: 100vh;
  min-width: 100%;
  font-family: sans-serif;
}
.link-back {
  color: #2e2f42;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;

  &:hover {
    color: #4e75ff;
  }
}
.main-title {
  margin-bottom: 24px;
  color: #2e2f42;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  min-height: 296px;
  background-color: #fff;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin-bottom: 8px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.feedback-form input,
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px;
}
.feedback-form input {
  margin-bottom: 8px;
}
.feedback-form textarea {
  height: 80px;
  resize: none;
  margin-bottom: 16px;
}
.feedback-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  background: #4e75ff;
  outline: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: 0.5s;

  &:hover {
    outline: 1px solid #4e75ff;
    background-color: #fff;
    color: #4e75ff;
  }

  &:disabled {
    background-color: #808080;
    cursor: not-allowed;
    pointer-events: none;
  }
}
