main.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
main.container h1 {
  margin-top: 24px;
  color: #2e2f42;
  font-size: 40px;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: '⬇️';
    display: block;
    position: absolute;
    top: 40px;
    left: 50px;
    animation: arrow 1s infinite;
  }
  &::after {
    content: '⬇️';
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    animation: arrow 1s infinite;
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

main.container ul {
  display: flex;
  gap: 70px;
  margin-top: 24px;
  font-size: 34px;
}
main.container ul li > a {
  text-decoration: none;
  transition: 0.5s;
  color: #2e2f42;

  &:hover {
    color: #4e75ff;
  }
}
